@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <div id="mainView"></div>
    @section scripts{
        <script type="text/javascript">
            //queryItems();
            var sys = Cookies.get('selSys');
            if (sys === "1")
                getMainView();
            else
                getMainView();
                //getMainViewMI();
        </script>
    }
}
else
{
    <div id="divLogin"></div>
    @section scripts{
        <script type="text/javascript">
            getDlgLogin();
        </script>
    }
}