
@{
    ViewBag.Title = "Index";
}


<div id="pnlRunSetUp" class="window box blurred-bg tinted" style="margin-top:45px;height:80%;">
    <div class="window-title" style="background-color:black;">
        <div style="width:70%;margin-left:auto;margin-right:auto;">
            <table style="margin-left: auto;margin-right: auto;" cellspacing="10">
                <tr>
                    <td>
                        <div class='input-group date' id='datetimepicker1' style="margin-right: 10px;color: dodgerblue;">
                            <input type='text' class="form-control" id="date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </td>
                    <td>
                        <button id="btnRpt" class="btn btn-sm btn-success">Get report</button>
                    </td>
                </tr>
            </table>

            <div>
                
            </div>
        </div>
    </div>
    <div class="window-content" style="padding:0;">
        <div id="viewRpt"></div>
        <div style="clear:both;"></div>
    </div>

    <div style="clear:both;"></div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                    format:'L'
            });
        });
        $("#btnRpt").click(function () {
            //alert($('#date').val());
            loadrptStk($('#date').val());
        })
    </script>

}
